<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col-12">
            <mat-card style="margin: 50px 0">
                <div style="display: flex; justify-content: space-between">
                    <h1>Details Of Books</h1>
                    <button mat-raised-button color="accent" (click)="back()" color="accent">show Details</button>
                </div>
                <p>Name: {{book.title}}</p>
                <p>Author: {{book.author}}</p>
                <p>description:</p>
                <p>{{book.description}}</p>
            </mat-card>
        </div>
    </div>
</div>

